<ul class="lists box">
	<% lists.each do |list| %>
		<li>
			<h2 class="list_title">
				<%= link_to list.title, list %>
			</h2>
			<p>
			  <%= truncate(list.content, length: 99) %>
			  <br>			
			  	<%= link_to list.node.name, list.node, class: "node" if list.node.present? %>		
	          <span> . </span>
	          <%= link_to "user.name", nil, class: "user_link"%>
	          <span> . </span>

	        </p>
		</li>
	<% end %>
</ul>