<br>
<br>
<div class="row">
  <div class="medium-9 columns">
    <% @lists.each do |list| %>
      <div class="list">
        <h3><%= link_to list.title, list %></h3>
        <span><%= list.content %></span>
      </div>
    <% end %> 
    <br>
    <%= paginate @lists %>
  </div>
  

  <div class="medium-3 columns">
    <%= link_to '创建清单', new_list_path, class: "disabled button" %>
    <br>
  	10 columns
  </div>
  
</div>








