<h2>用户资料</h2>
<div class="large-8 columns">
      <div class="user">
        <p><%= link_to user.name, user %></p>
        <p><%= link_to user.avatar, user %></p>
        <p><%= link_to user.email, user %></p>

      </div>

</div>