<div class="node-group">
	node:
	<button class="hollow button tiny" href="#">Primary Color</button>
	<button class="secondary hollow button tiny" href="#">Secondary Color</button>
	<button class="success hollow button tiny" href="#">Success Color</button>
	<button class="alert hollow button tiny" href="#">Alert Color</button>
	<button class="warning hollow button tiny" href="#">Warning Color</button>
</div>
